## Compiled source ##
#######################
*.pyc
*.exe
.idea/*

## Directories ##
########################
resources/mappings/
!resources/mappings/medication_codes/.gitkeep
!resources/mappings/laboratory_tests/.gitkeep
!resources/mappings/condition_codes/.gitkeep
resources/ontologies/
resources/programming/

## scripts ##
########################
scripts/bash
scripts/pythton/drafts.zip
scripts/python/scratch.py
scripts/tests/*
scripts/python/drafts/*
scripts/python/*.zip
