## compiled source ##
#######################
*.pyc
*.exe
.idea/*

## testing resources ##
########################
*.mypy*

## directories ##
########################
resources/clinical_data
!resources/clinical_data/README.md
resources/mappings/
!resources/mappings/medication_codes/.gitkeep
!resources/mappings/laboratory_tests/.gitkeep
!resources/mappings/condition_codes/.gitkeep
resources/ontologies/
resources/programming/

## scripts ##
########################
scripts/bash
scripts/pythton/drafts.zip
scripts/python/scratch.py
scripts/tests/*
scripts/python/drafts/*
scripts/python/*.zip
